{% extends 'base.html' %}
{% load static %}

{% block title %}
    摘要生成
{% endblock %}


{% block content %}
    <script src="{% static 'js/generate.js' %}"></script>
    <h1 class="heading h1 strong-600 text-center mb-5">
        根据摘要生成文章
    </h1>

    <!-- 摘要生成 -->
    <div class="container">
        <div class="row">
            <div class="col" style="margin-right: 20px">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 70px">标&nbsp;&nbsp;题</span>
                    </div>
                    <input type="text" class="form-control" placeholder="请输入标题" id="abstract_title">
                </div>

                <div class="input-group mb-3">

                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 70px">关键词</span>
                    </div>
                    <input type="text" class="form-control" placeholder="请输入关键词，以逗号隔开" id="abstract_keywords">
                </div>

                <div class="input-group mb-3">
                    <select id="abstract_select" class="form-control selectpicker">
                        <option value="1">检索摘要</option>
                        <option value="2" selected>自定义摘要</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <textarea class="form-control" rows="3" id="abstract_abstract"  placeholder="请在此输入自定义摘要，30~200字"></textarea>
                </div>

                <div class="input-group mb-3">
                    <button class="form-control" type="submit" id="abstract_submit" style="background-color: #288cff; color: whitesmoke">一键生成文章</button>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <textarea id="abstract_output" class="form-control" rows="25"
                                      placeholder="生成的文章将会展示在此"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

